<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="kCura" version="9.6.26.97" targetFramework="net462" />
  <package id="kCura.AuditUI2.Services" version="12.7.1" targetFramework="net462" />
  <package id="kCura.Injection" version="9.6.85.43" targetFramework="net462" />
  <package id="kCura.Relativity.Client" version="9.6.85.43" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Relativity.API" version="9.6.26.97" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.6.85.43" targetFramework="net462" />
  <package id="Relativity.Kepler" version="1.0.1.445" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.310" targetFramework="net462" />
  <package id="Relativity.SecretCatalog" version="1.0.19" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.6.26.97" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.6.26.97" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="9.6.26.97" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.159" targetFramework="net462" />
</packages>